@model List<TableSampleData>
@addTagHelper *, MvcCore.TagHelpers
@{
    ViewBag.Title = "TableTagHelperSample";
    var query = new TableQuery
    {
        Id = 155555,
        Age = 31,
        Name = "Alex"
    };
    var sel = new SelectList(new[] { new SelectListItem { Text = "1", Value = "0" } });
}

<div>
    <query-form item-source="@query">
        <query-control-select query-name="Type" option-data="@sel.Items"></query-control-select>
    </query-form>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
        </tr>
        </thead>
        @{
            foreach (var data in Model)
            {
                <row>
                    <column>
                        @data.Name
                    </column>
                    <column>
                        @data.Age
                    </column>
                </row>
            }
        }
    </table>
    <mvc-pager pager-take="20" pager-skip="0" pager-totalcount="20000"></mvc-pager>
</div>
