
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>
<input type="file" id="file2" />
<form method="post" id="myForm">
    <input type="file" id="file1"/>
    <input type="submit" value="submit" />
</form>