@model List<TableSampleData>
@addTagHelper *, MvcCore.TagHelpers
@{
    ViewBag.Title = "TableTagHelperSample";
}

<div>
    <mvc-table class="table table-bordered table-hover table-striped" item-source="@Model" column-ignore="Id"></mvc-table>
</div>
